* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
.container-fluid {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
#main-title {
  text-align: center;
  margin: 50px 0;
}
.parent {
  display: flex;
  gap: 20px;
}
.child {
  border: 1px solid;
  background-color: gray;
  padding: 35px 25px 25px;
  position: relative;
  height: 170px;
}
.child .title {
  position: absolute;
  right: 0;
  border-bottom: 1px solid;
  border-left: 1px solid;
  top: 0;
  padding: 6px;
  background-color: rgb(240, 136, 0);
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container,
  .container-fluid {
    width: 1140px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container,
  .container-fluid {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container,
  .container-fluid {
    width: 720px;
  }
  .parent {
    flex-wrap: wrap;
  }
  .child {
    width: 350px;
  }
  .chicken {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container,
  .container-fluid {
    width: 90%;
  }
  .parent {
    flex-direction: column;
  }
}
